@import url(reset.less);

#app{
  padding: 10px;

  h1{
    background-color: #308ddf;
    font-size: 20px;
    line-height: 30px;
    padding: 10px;
    color: #fff;
  }
  h2{
    padding: 10px 0;
  }
  p{
    background-color: #f0f0f0;
    padding: 4px;
    font-size: 14px;
    line-height: 18px;
    span{
      color: #308ddf;
    }
  }
}